.item {
    width: 100px;
    height: 100px;
    background-color: steelblue;
    border: 1px solid black;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}