@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
h1{
    text-align: center;
}
img{
    max-width: 100%;
    display: block;
}
body {
    background-color: #333;
    font-family: 'Poppins', sans-serif;
    color: white;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    margin:0
}

html, body {
    height: 100%;
}
.big {
    min-height: 100%;
    margin-bottom: 30px;
}
p{
    width: 40ch;
    font-size: 0.5rem;
}
.header {
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: steelblue; 
    min-height: 60px;
    border-bottom: 2px solid white;
}

.team {
    margin-top: 50px;
}
.navbar a {
    color: white;
    text-decoration: none;
    height: 60px;
}
.navbar .container{
    max-width: 1100px;
    margin: 0 auto;   
    overflow: hidden; 
    padding: 0 20px; 
}
.team .container{
   
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-gap: 22px;
    overflow: hidden;
    max-width: 1100px;
    margin: 0 auto;
    


}
.navbar .container ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.navbar a:hover, a:focus {
    color: #333;
    opacity: 0.8;
}
i {
    font-size: 20px;
}

.member {
    text-align: center;
    width: fit-content;
    background-color: steelblue;
    border: 1px solid steelblue;
}

.footer {
    background-color: steelblue;
    border-top: 2px solid white;
  
    width: 100%;
    overflow: hidden;
    height: fit-content;
   
    
    
}
 .footer-container{
   
    display: flex;
    justify-content: space-evenly;
    
}
.footer-container a {
    color: white;
    text-decoration: none;
}
.footer-container .container1{
    display: flex;align-items: center;
    justify-content: center;
}
.footer .container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.footer-container .container3 {
    max-width: 300px;
    width: fit-content;
}
.footer .container4 {
    text-align: center;
}

.footer ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    
}
.footer  li {
    margin-right: 20px;
    padding-right: 4px;
    border-right: 2px solid white;
}
.footer li:last-child {
    border: 0px;
}

.invisible2 {
    display: none;
}
.invisible1{
    display: none;
}

 @media (max-width: 880px){
    .team{
        padding: 0 10px;
    }
   .team .container{
   
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        grid-gap: 22px;
        overflow: hidden;
        max-width: 1100px;
        margin: 0 auto;
    }
    .box {
        padding: 20px;
    }
    .container3{
        text-align: center;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      
    }
    
    .box:nth-of-type(1){
        order: 1;
    }
    .box:nth-of-type(2){
        order: 3;
    }
    .box:nth-of-type(3){
        order: 2;
    }
}

    @media (max-width: 480px){
       .navbar .container{
            display: none;
        }
        .invisible2 {
            display: inline-block;
            margin-top: 5px;
        }
        .invisible1{
            display:inline-block;
            width: 100%;
        }
        .team .container{
            display: flex;
            flex-direction: column;
        }
        .footer .container1, .container3{
            display: none;
        }
        .dropdown{
            width: 100%;
            position: relative;
            display: inline-block;
            z-index: 2;
        }
        .dropdown-btn{
            margin: 0 auto;
            font-size: 4rem;
            text-align: center;
            width: 100%;
            display: inline-block;
            padding: 10px;
            background: steelblue;
            color: white;
            border: none;
        }
        .dropdown-btn:hover{
            opacity: 0.7;

        }
        .menu{
            display: inline-block;
            position: relative;
            display: none;
            min-width: 100%;
            background: steelblue;
            min-height: 100%;
        }
        .dropdown:hover .menu{
            display: inline-block;
        }
        .menu a{
            display: inline-block;
            width: 100%;
            padding: 10px;
            text-decoration: none;
            border-top: 1px solid white;
        }
        .menu a:active .menu{
            color: grey;
        }
    }


    

  