@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar{
    border-bottom: 2px solid white;
    background-color: steelblue; 
   
}
.header {
    position: sticky;
    top: 0px;
    width: 100%
}
body {
    background-color: #333;
    font-family: 'Poppins', sans-serifs;
    color: white;
    overflow-x: hidden;
}
.team {
    margin-top: 50px;
}
.navbar a {
    color: white;
    text-decoration: none;
}
.navbar .container{
    max-width: 1100px;
    margin: 0 20px;   
    overflow: hidden;  
}
.team .container{
   
    display: grid;
    grid-template-columns: repeat(3, .5fr) ;
    grid-gap: 10px;
    overflow: hidden;


}
.navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.navbar a:hover {
    color: #333;
}
i {
    font-size: 20px;
}

.member {
    text-align: center;
    width: fit-content;
    background-color: steelblue;
    border: 1px solid steelblue;
}
.fig {
    padding: 0;
    margin: 0;
}
.footer-container{
    margin-top: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: steelblue;
    overflow: hidden;
}
.footer-container  ul {
    list-style-type: none;
    display: flex;    
}
.footer-container #container1 ul li {
    margin-right: 10px;
    padding-right: 5px;
    border-right: 2px solid white;
}
.footer-container #container1 ul li:nth-of-type(5) {
    border-right: none;
}
.footer-container a {
    color: white;
    text-decoration: none;
}

#container3{
    max-width: 300px;
}
footer {
    width: 100vw;
}

img{
    max-width: 100%;
}
#container3 .container {
    text-align: center;

}
@media screen and (max-width: 400px) {
    .team .container {
        display: flex;
        flex-direction: column;
    }
}